<app-navbar></app-navbar>
<div class="container-fluid py-2 my-2" id="con1">
    <div class="row">
        <div class="col-12 text-center">
          <div class="decen"> <h5 class="h5">DECENTRALIZE (DEX)</h5></div>
          <h4 class="h4">BALANCES, DESPOSITS & WITHDRAWALS</h4>
          <p>Estimated value of holdings:</p>
          <p>$0.00 USD / 0.000000 BTC</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <span>$0.00 remaining of $0.00 USD <a href="">daily limit.</a></span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-2">
            <form action="">
                <div class="form-row ml-3 mr-1">
                  <div class="form-group form-check col-4">
                    <input class="form-check-input" type="checkbox" value="" id="Check1">
                    <label class="form-check-label" for="Check1">
                      Hide 0 Balances
                    </label>
                  </div>
                  <div class="form-group form-check col-3 mr-auto">
                    <input class="form-check-input" type="checkbox" value="" id="Check2">
                    <label class="form-check-label" for="Check2">
                      Hide 0 Delisted
                    </label>
                  </div>
                  <div class="form-row col-5">
                    <div class="col-9">
                    <input type="search" class="form-control">
                  </div>
                    <div class="col-3">
                    <button class="btn btn-sm py-0 text-center"><i class="fas fa-search text-white"></i></button>
                  </div>
                  </div>
                </div>
              </form>
        </div>
      </div>
</div>
<ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="fav-tab" data-toggle="tab" href="#fav" role="tab" aria-controls="fav" aria-selected="true"><i class="fas fa-star"></i>Favorites</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" id="stellar-tab" data-toggle="tab" href="#stellar" role="tab" aria-controls="stellar" aria-selected="true">Stellar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="ardor-tab" data-toggle="tab" href="#ardor" role="tab" aria-controls="ardor" aria-selected="false">ARDOR</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="bitcoin-tab" data-toggle="tab" href="#bitcoin" role="tab" aria-controls="bitcoin" aria-selected="false">Bitcoin</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="ethereum-tab" data-toggle="tab" href="#ethereum" role="tab" aria-controls="etehereum" aria-selected="false">Ethereum</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="usdt-tab" data-toggle="tab" href="#usdt" role="tab" aria-controls="usdt" aria-selected="false">USDT</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade" id="fav" role="tabpanel" aria-labelledby="fav-tab"><app-favtab></app-favtab></div>
  <div class="tab-pane fade show active" id="stellar" role="tabpanel" aria-labelledby="stellar-tab"><app-stellartab></app-stellartab></div>
  <div class="tab-pane fade" id="ardor" role="tabpanel" aria-labelledby="ardor-tab"><app-ardortab></app-ardortab></div>
  <div class="tab-pane fade" id="bitcoin" role="tabpanel" aria-labelledby="bitcoin-tab"><app-bitcointab></app-bitcointab></div>
  <div class="tab-pane fade" id="ethereum" role="tabpanel" aria-labelledby="ethereum-tab"><app-ethereumtab></app-ethereumtab></div>
  <div class="tab-pane fade" id="usdt" role="tabpanel" aria-labelledby="usdt-tab"><app-usdttab></app-usdttab></div>
</div>


<app-footer></app-footer>