<div class="cointainer-fluid bg-dark mt-2">
  <div class="row px-4 pt-4 text-center">
    <div class="col-6">
      <a href="">Advertise</a>
      <br>
      <a href="">Crypto API</a>
      <br>
      <a href="">Disclaimer</a>
      <br>
      <a href="">Privacy</a>
      <br>
      <a href="">Term</a>
      <br>
      <a href="">FAQ</a>
      <br>
      <a href="">Methodology</a>
      </div>
      <div class="col-6">
        <a href="">Request Form</a>
        <br>
        <a href="">Career</a>
        <br>
        <a href="">Blog</a>
        <br>
        <a href="">News</a>
        <br>
        <a href="">Facebook</a>
        <br>
        <a href="">Twitter</a>
        <br>
        <a href="">Telegram</a>
      </div>
  </div>
</div>