<div class="container-fluid px-0">
  <div class="row">
    <div class="col-12">
      <table class="table table-sm">
        <thead class="text-center">
          <tr>
            <th></th>
            <th>Code</th>
            <th>Asset Name</th>
            <th>Total Balance</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td><img src="https://bittrexblobstorage.blob.core.windows.net/public/ddbdafb2-e267-4114-abc3-06316cf3bef9.png"> </td>
            <td>XLM</td>
            <td>Stellar</td>
            <td>0 XLM</td>
            <td><button class="btn btn-success btn-sm">Deposit</button> | <button class="btn btn-danger btn-sm">Withdraw</button></td>
          </tr>
          <tr class="text-center">
            <td><img src="https://bittrexblobstorage.blob.core.windows.net/public/ddbdafb2-e267-4114-abc3-06316cf3bef9.png"> </td>
            <td>FRAS</td>
            <td>Frasindo</td>
            <td>0 FRAS</td>
            <td><button class="btn btn-success btn-sm">Deposit</button> | <button class="btn btn-danger btn-sm">Withdraw</button></td>
          </tr>
          <tr class="text-center">
            <td><img src="https://bittrexblobstorage.blob.core.windows.net/public/ddbdafb2-e267-4114-abc3-06316cf3bef9.png"> </td>
            <td>IDR</td>
            <td>Rupiah</td>
            <td>0 IDR</td>
            <td><button class="btn btn-success btn-sm">Deposit</button> | <button class="btn btn-danger btn-sm">Withdraw</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>